
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0" />-->
    <title>Moody</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/app.css">
    <script src="js/vendor/modernizr.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <script type="text/javascript">
      var comments_array = <%= @arr.inspect %>
      var name = <%= @arr.first%>
     
    </script>

     <div class="row">
  <div class="large-12 columns">
 
     

      
           
  <div class="name" style ="background-color:black;height:75px;text-align:center">
    <h1>
      <a href="#" style= "font-family:Oswald;color:white;font-size:1.1em">
          mOOdY 1.0
      </a>
      </h1>
  </div>
  
  </div>&nbsp</div>
 
  <div class="row">
      <div class="small-12 show-for-small"><br>
        <img src="http://placehold.it/1000x600&text=For Small Screens"/>
      </div>
  </div>
  </div>
  </div><br>
   <form action="/" method="post">
  <div class="row">
    <div class="large-12 columns">
      <div class="row">
 
    
 
        <div class="large-3 small-6 columns">
        <img src="http://placehold.it/250x250&text=Thumbnail"/>
        <input type="checkbox" value="Happy" name="happy"><label for="happy">Happy</label>
        </div>
 
        <div class="large-3 small-6 columns">
         <img src="http://placehold.it/250x250&text=Thumbnail"/>
         <input type="checkbox" value="Sad" name="sad"><label for="sad">Sad</label>
        </div>
 
        <div class="large-3 small-6 columns">
          <img src="http://placehold.it/250x250&text=Thumbnail"/>
          <input type="checkbox" value="Crazy" name="crazy"><label for="crazy">Crazy</label>
        </div>
        
        <div class="large-3 small-6 columns">
         <img src="http://placehold.it/250x250&text=Thumbnail"/>
          <input type="checkbox" value="Zen" name="zen"><label for="zen">Zen</label>
        </div>
 
     
 
      </div>
    </div>
  </div>
 
 
 

 
     

  
  <div>&nbsp</div>       
  
  <div class="row">
    <div class="large-6 large-offset-3 columns">
   
        <input type="text" placeholder="Name"/>
   
    </div>
  </div>
    <div class="row">
    <div class="large-4 large-offset-4 columns">
   
        <input name = "color" type="text" placeholder="Color"/>
   
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
    
        <input name ="comments" type="text" placeholder="I feel.." />
      </label>
    </div>
  </div>
 
      <div class ="input_button">
      <input type="submit" value = "MOOD IT !" id="submit_button"/>
    </div>
 
     </form>
 
      </div>
  
 
     
 
  <footer class="row">
    <div class="large-12 columns">
      <hr>
      <div class="row">
        <div class="large-6 columns">
          <p>© Images Copyright Mr Mood app by apple</p>
        </div>
      
      </div>
    </div>
  </footer>
    
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
   <script type="text/javascript" src="js/wordtree.js"></script>
 

   <div id="wordtree_basic" style="width: 900px; height: 500px;margin-left:auto;margin-right:auto"></div>
   


    </div>
  </div>



  </body> 
</html>

