   <div class="row">
  <div class="large-12 columns">
 
     

      
           
  <div class="name" style ="background-color:black;height:75px;text-align:center">
    <h1>
      <a href="#" style= "font-family:Oswald;color:white;font-size:1.1em">
          mOOdY 1.0
      </a>
      </h1>
  </div>
  
  </div>&nbsp</div>
 
  <div class="row">
      <div class="small-12 show-for-small"><br>
        <img src="http://placehold.it/1000x600&text=For Small Screens"/>
      </div>
  </div>
  </div>
  </div><br>
   <form action="/" method="post">
  <div class="row">
    <div class="large-12 columns">
      <div class="row">
 
    
 
        <div class="large-3 small-6 columns">
          <img src="http://placehold.it/250x250&text=Thumbnail"/>
        <input type="radio" value="Happy" name="happy"><label for="happy">Happy</label>
        </div>
 
        <div class="large-3 small-6 columns">
          <img src="http://placehold.it/250x250&text=Thumbnail"/>
         <input type="radio" value="Sad" name="sad"><label for="sad">Sad</label>
        </div>
 
        <div class="large-3 small-6 columns">
          <img src="http://placehold.it/250x250&text=Thumbnail"/>
          <input type="radio" value="Crazy" name="crazy"><label for="crazy">Crazy</label>
        </div>
        
        <div class="large-3 small-6 columns">
          <img src="http://placehold.it/250x250&text=Thumbnail"/>
          <input type="radio" value="Zen" name="zen"><label for="zen">Zen</label>
        </div>
 
     
 
      </div>
    </div>
  </div>
 
 
 

 
     

  
  <div>&nbsp</div>       
  
  <div class="row">
    <div class="large-12 columns">
       <label style ="font-size:1.5em">Name..
        <input type="text" placeholder="Parvathy" />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
       <label style ="font-size:1.5em">I feel..
        <input name ="comments" type="text" placeholder="like today is the day.." />
      </label>
    </div>
  </div>
 
          <div class="large-4 columns hide-for-small">
 
       
 
          
          <a class="large button expand" href="/" style ="margin-left:100%;margin-right:auto;background-color:#ED197B;font-family:Oswald;border:0px 0px 0px 0px">
            MOOD IT !
          </a>
 
 
        </div>
 
     </form>
 
      </div>
  
 
     
 
  <footer class="row">
    <div class="large-12 columns">
      <hr>
      <div class="row">
        <div class="large-6 columns">
          <p>© Copyright no one at all. Go to town.</p>
        </div>
      
      </div>
    </div>
  </footer>
    
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1.1", {packages:["wordtree"]});
      google.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable(
          [ ['Steve I feel Happy'],
            ['James I feel OhYeah'],
            ['Liz I feel Fucking@#$!!@#'],
            ['I feel OhBoy'],
            ['James I feel Happy'],
            ['I feel OhYeah'],
            ['Zoe I feel TERRIFIC'],
            ['I feel OhBoy'],
           ['Chris I feel OhYeah'],
            ['I feel Fucking@#$!!@# what the $%## am I doing here?'],
           ['ChrisW I feel OhYeah'],
            ['I feel Fucking@#$!!@#'],
            ['I feel like git does not like me'],
             ['I feel like git is a black hole'],
            ['I feel Happy, come along if you feel like '],
            ['I feel like the world is mine'],
            ['I feel TERRIFIC'],
            ['I feel like today is the day'],
           ['I feel like going on a wild ride'],
          ]
        );

        var options = {
          wordtree: {
            format: 'implicit',
            word: 'I feel'
          }
        };

        var chart = new google.visualization.WordTree(document.getElementById('wordtree_basic'));
        chart.draw(data, options);
      }
    </script>

   <div id="wordtree_basic" style="width: 900px; height: 500px;margin-left:auto;margin-right:auto"></div>